*{
    margin: 0;
    padding: 0;
    font-family: "Stylish", serif;
    font-weight: 800;
}

body{
    background-color: red;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    cursor: default;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    width: 100%;
    gap: 10px;
}
.title-area{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 50%;
}
.logo{
    height: 30px;
}
.title{
    font-weight: 800;
    font-size: 30px;
    color: rgb(250, 250, 250);
}

.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.search-bar{
    padding: 10px 10px 10px 24px;
    font-size: 20px;
    width: 80%;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px black;
}

.item-box{
    display: grid;
    grid-template-columns: repeat(9,150px);
    grid-auto-rows: 150px;
    overflow-y: auto;
    gap: 10px;
    border-radius: 10px;
    height: 610px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.no-pokemon{
    position: absolute;
    font-size: 20px;
    width: 30%;
    left: 35%;
    top: 100px;
    text-align: center;
}

.item{
    background-image: linear-gradient(to bottom, rgb(248, 244, 244) 49.99%, rgb(178, 178, 178) 50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    position: relative;
    transition: all 0.3s;
}
.pokemon-image{
    height: 100px;
    width: 100px;
}
.pokemon-name{
    font-size: 14px;
}

.item:hover {
    transform: scale(105%);
}

.item-box::-webkit-scrollbar {
    width: 10px;
} 
.item-box::-webkit-scrollbar-track{
    background-color: rgb(134, 127, 127);
    border-radius: 10px;
} 
.item-box::-webkit-scrollbar-thumb{
    background-color: rgb(255, 2, 2);
    border-radius: 10px;
} 

.pokemon-id{
    position: absolute;
    top: 10px;
    right: 10px;
}


@media  (max-width: 301px){
    .item-box{
        grid-template-columns: repeat(1, 150px);
        grid-auto-rows: 150px;
        height: calc(100vh-100px);
    }
    .search-bar{
        width: 150px;
    }
}

@media  (max-width: 401px) and (min-width: 301px){
    .item-box{
        grid-template-columns: repeat(2, 125px);
        grid-auto-rows: 125px;
        height: calc(100vh-100px);
    }
    
    .pokemon-image{
        height: 64px;
        width: 64px;
    }
    .pokemon-name{
        font-size: 10px;
    }
    .search-bar{
        width: min(250px,100%);
    }
}
 @media (max-width: 601px) and (min-width: 401px){
    .item-box{
        grid-template-columns: repeat(3, 125px);
        grid-auto-rows: 125px;
        height: calc(100vh-100px);
    }
    .pokemon-image{
        height: 64px;
        width: 64px;
    }
    .pokemon-name{
        font-size: 10px;
    }
    .search-bar{
        width: 300px;
    }
    .pokemon-id{
        font-size: 10px;
    }
}


@media (max-width: 851px) and (min-width: 601px){
    .item-box{
        grid-template-columns: repeat(4, 135px);
        grid-auto-rows: 135px;
        height: calc(100vh-100px);
    }
    .search-bar{
        width: 500px;
    }
    .pokemon-image{
        height: 64px;
        width: 64px;
    }
    .pokemon-name{
        font-size: 12px;
    }
    .pokemon-id{
        font-size: 10px;
    }
}

@media (max-width: 1024px) and (min-width: 851px){
    .item-box{
        grid-template-columns: repeat(5, 125px);
        grid-auto-rows: 125px;
        height: calc(100vh-100px);
    }
    .pokemon-image{
        height: 64px;
        width: 64px;
    }
    .search-bar{
        width: 600px;
    }
}

@media (min-width: 1024px) and (max-width : 1441px){
    .item-box{
        grid-template-columns: repeat(6, 150px);
        grid-auto-rows: 150px;
        height: calc(100vh-100px);
    }
    .pokemon-image{
        height: 75px;
        width: 75px;
    }
    .search-bar{
        width: 900px;
    }
}
@media (min-width: 1440px){
    .item-box{
        grid-template-columns: repeat(8, 150px);
        grid-auto-rows: 150px;
        height: calc(100vh-100px);
    }
    .pokemon-image{
        height: 80px;
        width: 80px;
    }
    .search-bar{
        width: 1200px;
    }
}
