
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-size: 15px;
    cursor: default;
    /* new */
}

.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    padding: 5px;
    /* new */
}
.loading{
    color: black;
    position: absolute;
    font-size: 24px;
    width: 20%;
    text-align: center;
    top: 250px;
    left: 40%;
}
.theme{
    padding: 2px 6px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.pokemon-name {
    font-size: 30px;
}
#pokemon-id{
    font-size: 20px;
}

.head-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* new */
}
#pokemon-image {
    width: 180px;
    height: 180px;
    /* new */
}

.name-and-back-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    gap: 30px;
    /* new */
}
.name-id{
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-and-navigation-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.navigation-button,
.back-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    transition: all 0.2s;
    cursor: pointer;
    /* new */
}

/* new */
.pokemon-details-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    padding: 40px 0px 20px 0px;
    height: 400px;
    gap: 30px;
    /* new */
}

.pokemon-type-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 24px;
}

.pokemon-type {
    padding: 4px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.body-measure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    font-size: 18px;
}

.body-measure-div {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    /* new */
}

.all-stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: rgb(100, 100, 100);
    width: 100%;
}

.single-stat-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}

.stat-bar-div {
    width: 60%;
    height: 3px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px black;
}

.stat-name-div {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
