
body {
    /* new */
    font-family: "Stylish", serif;
}


.container {
    /* new */
    height: 725px;
}
.head-container{
    /* new */
    height: 300px;
    justify-content: center;
    gap: 120px;
    position: relative;
}
#pokemon-image {
    /* new */
    position: absolute;
    left: 110px;
    top: 140px;
}

.name-and-back-div {
    /* new */
    color: white;
}

.navigation-button,
.back-image ,
.theme{
    /* new */
    font-size: 20px;
    padding: 5px;
}

/* new */
.navigation-button:active,
.back-image:active,
.theme:active {
    box-shadow: 0 0 10px black;
}

.pokemon-details-container {
    /* new */
    box-shadow: 0px 0px 10px black;
    background-color: rgb(225, 225, 225);
    border-radius: 15px;
}

.body-measure-div {
    /* new */
    background-color: rgb(86, 86, 86);
    color:  white;
}
.navigation-image{
    height: 50px;
    width: 50px;
}
